{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/add_task.css')}}">

        <div class="mainer">
            <h2>Add task</h2>
            <form action="/add_item" id="mainer" method="POST">
                <div class="inform">
                    <label for="name">Title</label>
                    <input type="text" name="name" placeholder="Enter task name" required>
                </div>
                
                <div class="inform">
                    <label for="comment">Description</p> </label>
                    <textarea name="comment" id="comment" name="comment" placeholder="Optional" required></textarea>
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}